{%extends 'all-pictures/base.html'%}
{% load bootstrap3 %}

<body>
{% block content %}
{{block.super}}
    
   {% for pictures_item in pictures %}

   <div class="hello">
         <div class="container">
         <div class="col-md-6">
         <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
         <a href="{% url 'view-profile' pictures_item.user.id %}" ><div class="centered">{{pictures_item.user}}</div></a>
         <a href="" data-toggle="modal" data-target="#{{pictures_item.id}}"> <img src="{{pictures_item.image.url}}" class="img-responsive responsive img-holder" alt="Image"  height="200" width="300" id="hey" ></a>
         </div>
        </div>
     
     
       <div id="{{pictures_item.id}}" class="modal fade" role="dialog">
         <div class="modal-dialog modal-lg modal-dialog-centered">
     
             <div class="modal-content">
                 <div class="modal-header">
                   <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                  
                   <img src="{{pictures_item.image.url}}" alt="" id='myImg' height="500" width="500">
                 </div>
                 <div class="modal-body">
                  
                   <h4 class="modal-title text-center">{{pictures_item.project_title}}</h4>
                   <p>Details:{{pictures_item.project_details}}</p>
                   <a href="{{pictures_item.link}}"><p>Visit site</p></a>
                   <a href="{%url 'new-votes' pictures_item.id%}"><p>RATE</p></a>
                   <a href="{%url 'view-project' pictures_item.id%}"><p>REVIEW</p></a>
                 </div>
               
                 <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
               </div>
           
             </div>
           </div>
           {% empty %}
           <div class="row">
             <h2 class="text-center">There No Image yet</h2>
           </div>
           {% endfor %}
         
         </div>
         
         {% endblock %}